*{margin: 0px;padding: 0px;box-sizing: border-box;outline: none;list-style: none; text-decoration: none;}
:root{
    --c-rose-800:rgb(122, 40, 78);
    --c-rose-50:rgb(255, 247, 251);
    --c-stone-900:rgb(49, 46, 44);
    --c-stone-600:rgb(95, 86, 77);
    --c-stone-150:rgb(227, 221, 215);
    --c-stone-100:rgb(243, 229, 215);
    --c-brown-800:rgb(133, 70, 50);
    --c-white:rgb(255,255,255);
}
body {background-color: var(--c-stone-100);max-width: 1440px;min-height: 100vh; margin: 0 auto;display: flex;justify-content: center;align-items: center;}
body main .container{max-width: 736px;padding: 40px;border-radius: 24px;background-color: var(--c-white);}
/* start Header */
body main .container .headPage{width: 100%;height: 300px;border-radius: 12px;overflow: hidden;}
body main .container .headPage img{width: inherit;height: inherit;object-fit: cover;}
/* start Description */
body main .container .description{margin-top: 40px;}
body main .container .description .title h1, p{font-weight: 400;}
body main .container .description .title h1{font-size:40px;color: var(--c-stone-900);font-family: "young serif", sans-serif;}
body main .container .description .title p{font-size: 16px;margin-top: 24px;color: var(--c-stone-600);font-family: "outfit";}
/* start Preparation */
body main .container .description .preparation{background-color: var(--c-rose-50);padding: 24px;margin-top: 32px;}
body main .container .description .preparation h2{font-size: 20px;font-family: "outfit", sans-serif; font-weight: 600;color: var(--c-rose-800);}
body main .container .description .preparation .preparation-time{margin-top: 16px;}
body main .container .description .preparation .preparation-time ul.list li{color: var(--c-stone-600);font-family:"outfit", sans-serif ;list-style: disc;margin: 8px auto;text-indent: 10px;list-style-position: inside;}
body main .container .description .preparation .preparation-time ul.list li:first-child{margin-top:0px;}
body main .container .description .preparation .preparation-time ul.list li:last-child{margin-bottom: 0px;}
body main .container .description .preparation .preparation-time ul.list li::marker{color: var(--c-rose-800);}
/* start Ingredients */
body main .container .description .ingredients {margin-top: 32px;}
body main .container .description .ingredients h2{font-size: 28px;font-family: "young serif", sans-serif; font-weight: 400;color: var(--c-brown-800);}
body main .container .description .ingredients .ingredients-list{margin-top: 24px;}
body main .container .description .ingredients .ingredients-list ul.list li{font-size: 16px;font-family: "outfit", sans-serif;list-style: disc;color: var(--c-stone-600);margin: 8px auto;text-indent: 10px;list-style-position: inside;}
body main .container .description .ingredients .ingredients-list ul.list li:first-child{margin-top: 0px;}
body main .container .description .ingredients .ingredients-list ul.list li:last-child{margin-bottom: 0px;}
body main .container .description .ingredients .ingredients-list ul.list li::marker{color: var(--c-brown-800);}
/* Line */
body main .container .description .line{width: 100%;height: 1px;margin: 32px auto;background-color: var(--c-stone-150);}
/* start Instructions */
body main .container .description .instructions{width: 100%;margin: 32px auto;}
body main .container .description .instructions h2{font-size: 28px;font-family: "young serif", sans-serif; font-weight: 400;color: var(--c-brown-800);}
body main .container .description .instructions .instructions-list{margin-top: 24px;}
body main .container .description .instructions .instructions-list ol.list li{font-size: 16px;font-family: "outfit", sans-serif;list-style: decimal;color: var(--c-stone-600);margin: 8px auto;list-style-position: inside;}
body main .container .description .instructions .instructions-list ol.list li:first-child{margin-top: 0px;}
body main .container .description .instructions .instructions-list ol.list li:last-child{margin-bottom: 0px;}
body main .container .description .instructions .instructions-list ol.list li::marker{color: var(--c-brown-800);font-weight: bold;}
/* start Nutrition */
body main .container .description .nutrition h2{font-size: 28px;font-family: "young serif", sans-serif; font-weight: 400;color: var(--c-brown-800);}
body main .container .description .nutrition p.nutrition-description{font-size: 16px;font-family: "outfit", sans-serif; font-weight: 400;color: var(--c-stone-600);margin: 24px auto;}
body main .container .description .nutrition .table-list{font-size: 16px;font-family: "outfit", sans-serif; font-weight: 400;color: var(--c-stone-600);}
body main .container .description .nutrition .table-list .tr {display: flex;align-items: center;}
body main .container .description .nutrition .table-list .tr span{display: block;font-size: 16px;font-weight: 400px;font-family: "outfit", sans-serif;}
body main .container .description .nutrition .table-list .tr span:first-child{margin-left: 32px;width: 50%;}
body main .container .description .nutrition .table-list .tr span.content{font-weight: 700;color: var(--c-brown-800);}
body main .container .description .nutrition .table-list .line-table{width: 100%;height: 1px;margin: 16px auto;background-color: var(--c-stone-150);}
